body {
    background-color: #E5E5E5;
}

.block {
    display: block;
}

#login-logo {
    margin: 20px auto;
    width: 75%;
}

#login-logo img {
    width: 100%;
    height: auto;
}

.full-width {
    width: 100%;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}
.balance-list {
    font-size: 140%;
}
.line-list {
    font-size: 100%;
    color: #888;
}
.address small {
    font-size: 55%;
}