<ion-view title="Contacts">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content padding="false">
        <div class="list" ng-show="contacts.contacts">
            <div class="item full-width" ng-repeat="contact in contacts.contacts | orderBy: 'name'">
                <div><strong>{{contact.name}}</strong></div>
                <small>{{contact.address}}</small>
            </div>
        </div>
    </ion-content>
</ion-view>