<ion-view title="Instant Ripple">
    <ion-content>
        <p>Here's the content for this page</p>
        <a ui-sref="settings">Settings</a>
        <h2>Balances</h2>
        <ul>
            <li ng-repeat="balance in balances.balances">
                <strong>{{balance.currency}}</strong>&nbsp;{{balance.balance | number: 2}}
            </li>
        </ul>
        <h2>Transactions</h2>
        <ul>
            <li ng-repeat="transaction in transactions.transactions">
                <span ng-if="clientSessionAddress === transaction.destination">+</span>
                <span ng-if="clientSessionAddress !== transaction.destination">-</span>
                <strong>{{transaction.amount.currency}}</strong>&nbsp;{{transaction.amount.value | number: 2}}
            </li>
        </ul>
        <h2>Contacts</h2>
        <ul>
            <li ng-repeat="contact in contacts.contacts">
                <strong>{{contact.name}}</strong>&nbsp;<small>{{contact.address}}</small>
            </li>
        </ul>
    </ion-content>
</ion-view>