<ion-view title="Balances">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list card" ng-if="balances.balances">
            <div class="item full-width" ng-repeat="balance in balances.balances">
                <span class="text-left float-left"><strong>{{balance.currency}}</strong></span>
                <span class="text-right float-right">{{balance.balance | number: 2}}</span>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-stable">
        <div class="buttons">
            <button class="button button-icon button-clear ion-social-usd"></button>
        </div>
    </ion-footer-bar>
</ion-view>