<ion-view title="Login">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">~</span>
                <input type="text" placeholder="username" ng-model="loginForm.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="password" ng-model="loginForm.password">
            </label>
        </div>
        <button class="button button-block button-positive" ng-click="login();">
            login
        </button>
    </ion-content>
</ion-view>