<ion-view title="Instant Ripple">
    <ion-content>
        <div id="login-logo">
            <img src="/images/IR-logo.png" />
        </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">~</span>
                <input type="text" placeholder="username" ng-model="loginForm.username">
            </label>
            <label class="item item-input">
                <span class="input-label">&nbsp;</span>
                <input type="password" placeholder="password" ng-model="loginForm.password">
            </label>
        </div>
        <div id="login-button">
            <button class="button button-block button-positive" ng-click="login();"><i class="ion-log-in"></i></button>
        </div>
    </ion-content>
</ion-view>