<ion-view title="Make a Payment">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content padding="false">
        <h3 class="text-center full-width padding-top">Send to</h3>
        <div ng-show="send.step == 1">
            <autocomplete ng-model="send.recipient" data="send.recipients" attr-placeholder="Contact or ~Username" on-type="send.checkRecipient();"></autocomplete>
            <button class="button button-full button-calm" ng-disabled="!send.recipientIsValid" ng-click="send.onRecipientSelected();">
                Next
            </button>
        </div>
        <div ng-show="send.step == 2">
            <div class="address-display text-center full-width padding-top">{{send.recipient}}</div>
            <div>
                <label class="item item-input">
                    <i class="icon ion-chevron-right"></i>
                    <input type="number" ng-model="send.amount" />
                </label>
                <label class="item item-input item-select">
                    <i class="icon ion-cash"></i>
                    <select ng-model="send.currency" ng-options="currency for currency in send.currencies"></select>
                </label>
                <button class="button button-full button-calm" ng-disabled="!send.amount" ng-click="send.onAmountSelected();">
                    Next
                </button>
            </div>
        </div>
        <div ng-show="send.step == 3">
            <div ng-repeat="path in send.paths">
                <span>{{path.amount.value | currency: path.amount.currecy}} {{path.amount.currency}}</span>
            </div>
        </div>
    </ion-content>
</ion-view>