<ion-view title="Transactions">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list" ng-show="transactions.payments">
            <div class="item item-icon-left full-width" ng-repeat="transaction in transactions.payments | orderBy: '-time'"
                 ng-class="{'transaction-receive': transaction.receive , 'transaction-send': !transaction.receive}">
                <i class="icon" ng-class="{'ion-arrow-down-a': transaction.receive , 'ion-arrow-up-a': !transaction.receive}"></i>
                <div>{{transaction.amount.value | currency}} {{transaction.amount.currency}}</div>
                <div address="transaction.receive ? transaction.sender : transaction.destination"></div>
                <div am-time-ago="transaction.time"></div>
            </div>
        </div>
    </ion-content>
</ion-view>